#intro-dialog {
	width: 40%;
	height: 200px;
	padding: 1%;
	color: white;
	background: #1c1c1c;
	text-align: center;
	font-family: 'courier', serif;
}

#intro-dialog p {
	position: relative;
	top: 30%;
	margin-bottom: 5em;
}

.dialog-btn {
    background: none;
    color: white;
    font-family: 'courier';
    padding: 5px;
    font-size: 1rem;
   	cursor: pointer;
}

#book-wrapper {
	display: none;
	position: absolute !important;
}

#bb-bookblock {
	top: 5%;
	width: 700px;
	height: 500px;
}

.book-nav {
	background-color: white;
	width: 700px;
	margin: auto;
	text-align: center;
	position: relative;
	top: 5%;
}

.book-nav a {
	color: #1c1c1c;
	font-size: 25px;
    padding: 0 1em;
}

.close-book {
	float: right;
	font-size: 25px;
	padding-right: .25em;
	cursor: pointer;
}

.dialog-img {
	width: 100%;
	height: 500px;
}

#dialog1 p {
	padding: 5%;
	text-align: center;
}

.center-this {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}